@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Lobster+Two:wght@700&family=Neuton:wght@700&display=swap");
*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  outline: none;
  border: none;
  line-height: 1.5;
}

.container {
  max-width: 1383px;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_background {
  background: #0B3F36;
  color: #FFFFFF;
  transition: 0.6s;
}
.btn_background:hover {
  background: #148673;
}

.btn_transparent {
  border: 1px solid #0B3F36;
  color: #0B3F36;
  transition: 0.4s;
}
.btn_transparent:hover {
  background: rgba(20, 134, 115, 0.2);
}

.title {
  font-family: "Lobster Two";
  font-size: 45px;
  line-height: 130%;
  color: #0B3F36;
}

.header_section {
  margin-top: 1.56em;
  display: flex;
  margin-bottom: 130px;
}
.header_section .header_background {
  position: relative;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .header_section .header_background {
    opacity: 0.7;
  }
}
.header_section .header_background .header_background_1 {
  position: absolute;
  width: 30em;
  height: 960px;
  left: 0px;
  top: -1.6em;
  background: #0B3F36;
  border-radius: 0px 0px 180px 0px;
}
@media screen and (max-width: 1320px) {
  .header_section .header_background .header_background_1 {
    width: 20em;
  }
}
@media screen and (min-width: 1830px) {
  .header_section .header_background .header_background_1 {
    width: 40em;
  }
}
@media screen and (min-width: 2145px) {
  .header_section .header_background .header_background_1 {
    width: 53em;
  }
}
.header_section .header_background .header_background_2 {
  position: absolute;
  width: 30em;
  height: 953px;
  left: 0px;
  top: 0;
  background: #0B3F36;
  opacity: 0.7;
  border-radius: 0px 0px 180px 0px;
}
@media screen and (max-width: 1320px) {
  .header_section .header_background .header_background_2 {
    width: 20em;
  }
}
@media screen and (min-width: 1830px) {
  .header_section .header_background .header_background_2 {
    width: 40em;
  }
}
@media screen and (min-width: 2145px) {
  .header_section .header_background .header_background_2 {
    width: 53em;
  }
}
.header_section header {
  display: flex;
}
@media screen and (max-width: 720px) {
  .header_section header {
    justify-content: space-between;
  }
}
.header_section header .logo {
  padding: 0 0 4px 15px;
  position: relative;
}
.header_section header .logo a {
  font-family: "Lalezar", cursive;
  font-size: 22px;
  color: #FFFFFF;
}
.header_section header .logo span {
  position: absolute;
  min-width: 79px;
  top: 9px;
  margin-left: 17px;
}
.header_section header .header_menu {
  display: flex;
  align-items: center;
  margin-left: 23em;
}
@media screen and (max-width: 720px) {
  .header_section header .header_menu {
    display: none;
  }
  .header_section header .header_menu.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    transform: translateY(-100%); /* hidden */
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    margin-left: 0;
  }
  .header_section header .header_menu.menu.active {
    transform: translateY(0);
    overflow: auto;
  }
}
@media screen and (max-width: 1024px) {
  .header_section header .header_menu {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1182px) {
  .header_section header .header_menu {
    margin-left: 17em;
  }
}
.header_section header .header_menu ul {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 720px) {
  .header_section header .header_menu ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 1022px) {
  .header_section header .header_menu ul {
    margin-bottom: 15px;
  }
}
.header_section header .header_menu ul li {
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .header_section header .header_menu ul li {
    margin-bottom: 25px;
  }
}
.header_section header .header_menu ul li:not(:last-child) {
  margin-right: 40px;
}
.header_section header .header_menu ul li .header_menu-active {
  font-family: "Lobster Two", cursive;
}
.header_section header .header_menu ul li a {
  font-family: "Neuton", serif;
  color: #000000;
  font-size: 16px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .header_section header .header_menu ul li a:before {
    content: "";
    width: 0%;
    height: 2px;
    background: #000000;
    position: absolute;
    bottom: -2.3px;
    transition: 1s;
  }
  .header_section header .header_menu ul li a:hover:before {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .header_section header .header_menu ul li a {
    font-size: 50px;
  }
}
.header_section header .burger {
  display: none;
  position: relative;
  top: 10px;
  width: 30px;
  height: 2px;
  background: #000;
  z-index: 3;
  margin-right: 10px;
}
@media screen and (max-width: 720px) {
  .header_section header .burger {
    display: block;
  }
}
.header_section header .burger:before {
  content: "";
  background: #000;
  width: 30px;
  height: 2px;
  position: absolute;
  top: 10px;
}
.header_section header .burger:after {
  content: "";
  background: #000;
  width: 30px;
  height: 2px;
  position: absolute;
  top: 20px;
}
.header_section header .burger.active {
  width: 0;
}
.header_section header .burger.active:before {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
  transition: 0.5s;
  right: 0;
}
.header_section header .burger.active:after {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
  transition: 0.5s;
  right: 0;
}
.header_section .header_buttons {
  font-family: "Lobster Two", cursive;
  display: flex;
  margin-right: 10px;
}
.header_section .header_buttons .logIn_btn {
  padding: 10px 30px;
  border: 2px solid #0B3F36;
  color: #0B3F36;
  margin-right: 30px;
  margin-left: 8em;
  transition: 0.6s;
}
.header_section .header_buttons .logIn_btn:hover {
  background: rgba(20, 134, 115, 0.2);
}
@media screen and (max-width: 1182px) {
  .header_section .header_buttons .logIn_btn {
    margin-left: 4em;
  }
}
.header_section .header_buttons .signUp_btn {
  padding: 10px 30px;
}
.header_section .header_image_block {
  margin-left: 15px;
  width: 558px;
  height: 604px;
  background: #EAF8F9;
  border-radius: 170px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .header_section .header_image_block {
    margin-bottom: 60px;
    margin-right: 6px;
  }
}
.header_section .header_image_block .header_image_block--image {
  position: relative;
  left: 23px;
}
.header_section .header_image_block .header_image_block--play {
  padding: 40px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 230px;
  border: 2.27px dashed #0B3F36;
  border-radius: 50%;
}
.header_section .header_section_content {
  margin-top: 107px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 1024px) {
  .header_section .header_section_content {
    flex-direction: column;
    align-items: center;
  }
}
.header_section .header_section_content .header_content {
  display: flex;
  flex-direction: column;
  margin-left: 96px;
  margin-right: 10px;
}
@media screen and (max-width: 1225px) {
  .header_section .header_section_content .header_content {
    margin-left: 50px;
  }
}
.header_section .header_section_content .header_content .header_content_inner {
  display: flex;
  flex-direction: column;
  max-width: 532px;
}
.header_section .header_section_content .header_content .header_content_inner .header_content-title {
  font-family: "Lobster Two";
  font-size: 76px;
  line-height: 130%;
  color: #0B3F36;
}
@media screen and (max-width: 768px) {
  .header_section .header_section_content .header_content .header_content_inner .header_content-title {
    font-size: calc(32px + 44 * ((100vw - 320px) / 1063));
  }
}
.header_section .header_section_content .header_content .header_content_inner .header_content-text {
  margin-top: 50px;
  font-family: "Neuton";
  font-weight: 700;
  font-size: 28px;
  line-height: 160%;
  color: #000000;
  opacity: 0.7;
  word-break: break-all;
}
.header_section .header_section_content .header_content .header_content_inner .header_content-btn {
  margin-top: 50px;
  padding: 15px 50px;
  width: 181px;
  font-family: "Lobster Two";
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  box-shadow: 12px 24px 46px rgba(0, 0, 0, 0.15);
}

.ourProducts_section {
  display: flex;
}

.ourProducts_item {
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}
.ourProducts_item:first-of-type {
  margin-top: 130px;
}
.ourProducts_item.product-2 {
  flex-direction: row-reverse;
}
@media screen and (max-width: 1182px) {
  .ourProducts_item {
    flex-direction: column;
  }
  .ourProducts_item.product-2 {
    flex-direction: column-reverse;
  }
}

.ourProducts_content {
  margin-right: 124px;
  position: relative;
}
.ourProducts_content.ourProducts_content-2 {
  margin-left: 124px;
  margin-right: 0;
  text-align: right;
}
.ourProducts_content:before {
  content: "";
  position: absolute;
  bottom: 150px;
  right: 250px;
  width: 518px;
  height: 5px;
  background: linear-gradient(90deg, #0B3F36 -32.14%, rgba(11, 63, 54, 0) 96.24%);
  transform: rotate(90deg);
  border-radius: 10px;
}
@media screen and (max-width: 1182px) {
  .ourProducts_content:before {
    right: 230px;
  }
}
.ourProducts_content.ourProducts_content-2:before {
  content: "";
  left: 250px;
}
@media screen and (max-width: 1182px) {
  .ourProducts_content.ourProducts_content-2:before {
    left: 230px;
  }
}
@media screen and (max-width: 1280px) {
  .ourProducts_content {
    margin-right: 24px;
  }
  .ourProducts_content.ourProducts_content-2 {
    margin-left: 24px;
  }
}

.ourProducts_title {
  margin-bottom: 30px;
}

.ourProducts_text {
  font-family: "Neuton";
  opacity: 0.7;
  font-size: 22px;
  max-width: 461px;
  line-height: 170%;
}

.ourProducts_btns {
  display: flex;
  text-align: center;
  margin-top: 50px;
}
.ourProducts_btns.ourProducts_btns-reverse {
  flex-direction: row-reverse;
}

.ourProducts_btn {
  font-family: "Neuton";
  padding: 15px 40px;
  font-size: 18px;
}

.ourProducts_btnLonger {
  margin-right: 30px;
}
.ourProducts_btnLonger.ourProducts_btnLonger-2 {
  margin-right: 0;
  margin-left: 30px;
}

.ourProducts_image {
  background: #EAF8F9;
  border-radius: 133px 0px;
  width: 571px;
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1182px) {
  .ourProducts_image {
    margin-top: 90px;
    margin-left: 5px;
  }
  .ourProducts_image.ourProducts_image-2 {
    margin-bottom: 90px;
  }
}
.ourProducts_image .ourProducts_price {
  font-family: "Neuton";
  padding: 18px 24px;
  position: relative;
  left: 230px;
  top: 23px;
  font-size: 38px;
  border: 2px dashed #0B3F36;
  border-radius: 50%;
  color: #0B3F36;
}
.ourProducts_image .ourProducts_price.ourProducts_price-2 {
  left: -230px;
}
.ourProducts_image a {
  font-family: "Neuton";
  font-size: 18px;
  padding: 13px 51px;
  width: 171px;
  margin-top: -33px;
}

.ourProducts_arrows {
  position: relative;
  bottom: 50px;
  left: 230px;
}
.ourProducts_arrows.ourProducts_arrows-reverse {
  left: -230px;
}
.ourProducts_arrows .arrow {
  background: none;
  cursor: pointer;
}
.ourProducts_arrows .arrow_prev {
  margin-right: 30px;
}
.ourProducts_arrows .arrow_next {
  margin-right: 5px;
}

.slick-slider {
  min-width: 0;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-list {
  display: flex;
  overflow: hidden;
}

.bestProduct_section {
  display: flex;
  margin-bottom: 100px;
}

.bestProduct_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.bestProduct_title {
  margin-right: 20px;
}

.bestProduct_btn {
  padding: 12px 60px;
  font-family: "Neuton";
  font-weight: 700;
  font-size: 22px;
}

.bestProduct_body {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .bestProduct_body {
    flex-direction: column;
    align-items: center;
  }
}

.bestProduct_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 400px;
  height: 459px;
  background: #EAF8F9;
  border-radius: 100px 0px;
}
.bestProduct_item:not(:last-child) {
  margin-right: 30px;
}
@media screen and (max-width: 1024px) {
  .bestProduct_item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.footer {
  background: #0B3F36;
  height: auto;
  width: 100%;
  display: flex;
  padding: 60px 60px;
}
.footer .logo {
  text-align: center;
  margin-bottom: 45px;
}
.footer .logo span {
  position: relative;
  bottom: 15px;
  margin-left: 19px;
  font-family: "Lalezar";
  font-weight: 400;
  font-size: 27px;
}
.footer a {
  font-family: "Neuton";
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.footer ul {
  display: flex;
  margin-bottom: 50px;
}
@media screen and (max-width: 720px) {
  .footer ul {
    flex-direction: column;
  }
}
.footer li:not(:last-child) {
  margin-right: 60px;
}
.footer .footer-line {
  width: 100%;
  opacity: 0.2;
  border: 1px solid #FFFFFF;
  margin-bottom: 10px;
}
.footer .layoutAuthor {
  position: relative;
  text-align: center;
  color: #FFFFFF;
  font-family: "Neuton";
  font-weight: 700;
  font-size: 18px;
  opacity: 0.6;
}